@use "colors";

blockquote {
	border-left: 3px solid;
	margin: 2rem 0;
	padding: 0.75rem 1.5rem;
	cite {
		display: block;
		margin: 0.5rem 0 0 0.5rem;
		&::before {
			content: "\2015";
			display: inline-block;
			height: 1rem;
			margin-right: 0.5rem;
			width: 1rem;
		}
	}
	code {
		color: inherit;
		font-weight: 500;
	}
	p {
		margin: 0;
		padding: 0;
		& + p {
			margin-top: 0.75rem;
		}
	}
	div + p {
		margin-top: 0.5rem;
	}
	.alert-heading {
		font-size: 90%;
		font-weight: 400;
	}
	.alert-icon {
		box-sizing: border-box;
		display: inline-block;
		height: 24px;
		line-height: 1;
		margin-right: 4px;
		margin-top: -2px;
		vertical-align: middle;
		width: 24px;
	}
	&.alert {
		background-color: var(--alert-info-background-color);
		border-color: var(--alert-info-color);
		p {
			margin-left: 4px;
		}
		.alert-icon {
			background-color: var(--alert-info-color);
			mask-image: var(--icon-info-black);
		}
	}
	&.alert-note {
		background-color: var(--alert-note-background-color);
		border-color: var(--alert-note-color);
		color: var(--alert-note-color);
		.alert-icon {
			background-color: var(--alert-note-color);
		}
	}
	&.alert-tip {
		background-color: var(--alert-tip-background-color);
		border-color: var(--alert-tip-color);
		color: var(--alert-tip-color);
		.alert-icon {
			background-color: var(--alert-tip-color);
			mask-image: var(--icon-lightbulb-black);
		}
	}
	&.alert-important {
		background-color: var(--alert-important-background-color);
		border-color: var(--alert-important-color);
		color: var(--alert-important-color);
		.alert-icon {
			background-color: var(--alert-important-color);
			mask-image: var(--icon-bubble-black);
		}
	}
	&.alert-warning {
		background-color: var(--alert-warning-background-color);
		border-color: var(--alert-warning-color);
		color: var(--alert-warning-color);
		.alert-icon {
			background-color: var(--alert-warning-color);
			mask-image: var(--icon-warning-black);
		}
	}
	&.alert-caution {
		background-color: var(--alert-caution-background-color);
		border-color: var(--alert-caution-color);
		color: var(--alert-caution-color);
		.alert-icon {
			background-color: var(--alert-caution-color);
			mask-image: var(--icon-caution-black);
		}
	}
}
