@use "colors";

:root {
	interpolate-size: allow-keywords;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background: var(--body-background-color);
	color: var(--foreground-color);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
	&.preload * {
		transition: none !important;
	}
}

.progress {
	cursor: progress;
}
