@use "colors";
@use "durations";

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-foreground-color);
	font-weight: 400;
	margin: 3rem 0 1rem 0;
}

h1 {
	font-size: 175%;
	margin-top: 3rem;
}

h2 {
	font-size: 140%;
	margin-top: 2.5rem;
}

h3 {
	font-size: 125%;
	margin-top: 2.25rem;
}

h4 {
	font-size: 120%;
	margin-top: 2rem;
}

h5 {
	font-size: 115%;
	margin-top: 1.75rem;
}

h6 {
	font-size: 110%;
	margin-top: 1.5rem;
}
