@use "colors";
@use "durations";

h1, h2, h3, h4, h5, h6 {
	margin: 1.25rem 0;
}

h1 {
	font-size: 175%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 135%;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 115%;
}

h6 {
	font-size: 110%;
}
