/**
 * @see https://google-webfonts-helper.herokuapp.com/
 */

@font-face {
	font-display: swap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src:
		local(""),
		url("/fonts/roboto-v20-latin-300.woff2") format("woff2"),
		url("/fonts/roboto-v20-latin-300.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src:
		local(""),
		url("/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		url("/fonts/roboto-v20-latin-regular.woff") format("woff");
}
