@use "sass:color";
@use "colors";

.dark {
	color-scheme: dark;

	--anchor-color: #{colors.$shiny};
	--body-background-color: #{colors.$blind};
	--button-background-color: #{colors.$cyan_500};
	--button-background-color-darker: #{colors.$shiny};
	--button-background-color-focus: #{colors.$shiny};
	--button-background-color-focus-darker: #{colors.$shiny};
	--button-foreground-color: white;
	--button-foreground-color-focus: white;
	--canvas-background-color: #{colors.$coal};
	--code-color: #{colors.$dust};
	--foreground-color: #{colors.$grey_300};
	--footer-anchor-color: #{colors.$grey_400};
	--footer-border-color: #{colors.$grey_900};
	--footer-separator-color: #{colors.$grey_500};
	--heading-foreground-color: #{colors.$grey_200};
	--page-header-background-color: #{colors.$space};
	--page-title-foreground-color: #{colors.$grey_100};
	--nav-anchor-background-color-focus: #{colors.$blind};
	--nav-anchor-color: #{colors.$grey_500};
	--nav-anchor-color-active: #{colors.$grey_200};
	--nav-anchor-color-focus: #{colors.$grey_300};
	--nav-indicator-background-color: #{colors.$shiny};
	--sidebar-background-color: #{colors.$coal};
	--sidebar-heading-color: #{colors.$whimsical};
	--spinner-background-color: #{colors.$shiny};
	--spinner-accent-color: #{colors.$space};
	--viewport-button-background-color: #{rgba(black, 0.2)};
	--viewport-separator-color: #{colors.$grey_900};
}
