@use "colors";

html {
	--anchor-color: #{colors.$cyan_800};
	--body-background-color: #{colors.$grey_100};
	--button-background-color: #{colors.$cyan_500};
	--button-background-color-darker: #{colors.$shiny};
	--button-background-color-focus: #{colors.$shiny};
	--button-background-color-focus-darker: #{colors.$shiny};
	--button-foreground-color: white;
	--button-foreground-color-focus: white;
	--canvas-background-color: #{colors.$grey_200};
	--code-color: #{colors.$deep_orange_800};
	--foreground-color: #{colors.$coal};
	--footer-anchor-color: #{colors.$grey_600};
	--footer-border-color: #{rgba(colors.$grey_500, 0.2)};
	--footer-separator-color: #{colors.$grey_500};
	--heading-foreground-color: #{colors.$mine-shaft};
	--page-header-background-color: #{colors.$grey_900};
	--page-title-foreground-color: #{colors.$grey_100};
	--nav-anchor-background-color-focus: #{colors.$grey_300};
	--nav-anchor-color: #{colors.$grey_800};
	--nav-anchor-color-active: black;
	--nav-anchor-color-focus: #{colors.$grey_A100};
	--nav-indicator-background-color: #{colors.$pale_rust};
	--sidebar-background-color: #{colors.$grey_200};
	--sidebar-heading-color: #{colors.$cyan_800};
	--spinner-background-color: #{colors.$mine-shaft};
	--spinner-accent-color: #{colors.$shiny};
	--viewport-button-background-color: #{rgba(white, 0.2)};
	--viewport-separator-color: #{colors.$grey_300};
}
