/* stylelint-disable -- generated styles */

.dark {
	/* Background */ .chroma { background-color: #161616; color: #F8F8F2; }
	/* Other */ .chroma .x {  }
	/* Error */ .chroma .err { background-color: #1E0010; color: #960050; }
	/* LineTableTD */ .chroma .lntd { border: 0; margin: 0; padding: 0; vertical-align: top; }
	/* LineTable */ .chroma .lntable { border: 0; border-spacing: 0; display: block; margin: 0; overflow: auto; padding: 0; width: auto; }
	/* LineHighlight */ .chroma .hl { background-color: #FFFFCC; display: block; width: 100%; }
	/* LineNumbersTable */ .chroma .lnt { color: #7F7F7F; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
	/* LineNumbers */ .chroma .ln { color: #7F7F7F; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
	/* Keyword */ .chroma .k { color: #66D9EF; }
	/* KeywordConstant */ .chroma .kc { color: #66D9EF; }
	/* KeywordDeclaration */ .chroma .kd { color: #66D9EF; }
	/* KeywordNamespace */ .chroma .kn { color: #F92672; }
	/* KeywordPseudo */ .chroma .kp { color: #66D9EF; }
	/* KeywordReserved */ .chroma .kr { color: #66D9EF; }
	/* KeywordType */ .chroma .kt { color: #66D9EF; }
	/* Name */ .chroma .n { color: #F8F8F2; }
	/* NameAttribute */ .chroma .na { color: #A6E22E; }
	/* NameBuiltin */ .chroma .nb { color: #F8F8F2; }
	/* NameBuiltinPseudo */ .chroma .bp {  }
	/* NameClass */ .chroma .nc { color: #A6E22E; }
	/* NameConstant */ .chroma .no { color: #66D9EF; }
	/* NameDecorator */ .chroma .nd { color: #A6E22E; }
	/* NameEntity */ .chroma .ni {  }
	/* NameException */ .chroma .ne { color: #A6E22E; }
	/* NameFunction */ .chroma .nf { color: #A6E22E; }
	/* NameFunctionMagic */ .chroma .fm {  }
	/* NameLabel */ .chroma .nl {  }
	/* NameNamespace */ .chroma .nn {  }
	/* NameOther */ .chroma .nx { color: #A6E22E; }
	/* NameProperty */ .chroma .py {  }
	/* NameTag */ .chroma .nt { color: #F92672; }
	/* NameVariable */ .chroma .nv {  }
	/* NameVariableClass */ .chroma .vc {  }
	/* NameVariableGlobal */ .chroma .vg {  }
	/* NameVariableInstance */ .chroma .vi {  }
	/* NameVariableMagic */ .chroma .vm {  }
	/* Literal */ .chroma .l { color: #AE81FF; }
	/* LiteralDate */ .chroma .ld { color: #E6DB74; }
	/* LiteralString */ .chroma .s { color: #E6DB74; }
	/* LiteralStringAffix */ .chroma .sa { color: #E6DB74; }
	/* LiteralStringBacktick */ .chroma .sb { color: #E6DB74; }
	/* LiteralStringChar */ .chroma .sc { color: #E6DB74; }
	/* LiteralStringDelimiter */ .chroma .dl { color: #E6DB74; }
	/* LiteralStringDoc */ .chroma .sd { color: #E6DB74; }
	/* LiteralStringDouble */ .chroma .s2 { color: #E6DB74; }
	/* LiteralStringEscape */ .chroma .se { color: #AE81FF; }
	/* LiteralStringHeredoc */ .chroma .sh { color: #E6DB74; }
	/* LiteralStringInterpol */ .chroma .si { color: #E6DB74; }
	/* LiteralStringOther */ .chroma .sx { color: #E6DB74; }
	/* LiteralStringRegex */ .chroma .sr { color: #E6DB74; }
	/* LiteralStringSingle */ .chroma .s1 { color: #E6DB74; }
	/* LiteralStringSymbol */ .chroma .ss { color: #E6DB74; }
	/* LiteralNumber */ .chroma .m { color: #AE81FF; }
	/* LiteralNumberBin */ .chroma .mb { color: #AE81FF; }
	/* LiteralNumberFloat */ .chroma .mf { color: #AE81FF; }
	/* LiteralNumberHex */ .chroma .mh { color: #AE81FF; }
	/* LiteralNumberInteger */ .chroma .mi { color: #AE81FF; }
	/* LiteralNumberIntegerLong */ .chroma .il { color: #AE81FF; }
	/* LiteralNumberOct */ .chroma .mo { color: #AE81FF; }
	/* Operator */ .chroma .o { color: #F92672; }
	/* OperatorWord */ .chroma .ow { color: #F92672; }
	/* Punctuation */ .chroma .p { color: #F8F8F2; }
	/* Comment */ .chroma .c { color: #75715E; }
	/* CommentHashbang */ .chroma .ch { color: #75715E; }
	/* CommentMultiline */ .chroma .cm { color: #75715E; }
	/* CommentSingle */ .chroma .c1 { color: #75715E; }
	/* CommentSpecial */ .chroma .cs { color: #75715E; }
	/* CommentPreproc */ .chroma .cp { color: #75715E; }
	/* CommentPreprocFile */ .chroma .cpf { color: #75715E; }
	/* Generic */ .chroma .g {  }
	/* GenericDeleted */ .chroma .gd { color: #F92672; }
	/* GenericEmph */ .chroma .ge { font-style: italic; }
	/* GenericError */ .chroma .gr {  }
	/* GenericHeading */ .chroma .gh {  }
	/* GenericInserted */ .chroma .gi { color: #A6E22E; }
	/* GenericOutput */ .chroma .go {  }
	/* GenericPrompt */ .chroma .gp {  }
	/* GenericStrong */ .chroma .gs { font-weight: bold; }
	/* GenericSubheading */ .chroma .gu { color: #75715E; }
	/* GenericTraceback */ .chroma .gt {  }
	/* GenericUnderline */ .chroma .gl {  }
	/* TextWhitespace */ .chroma .w {  }
}
