.dark {
	--tp-base-background-color: hsl(0deg, 0%, 10%, 80%);
	--tp-base-shadow-color: hsl(0deg, 0%, 0%, 20%);
	--tp-button-background-color: hsl(0deg, 0%, 80%, 100%);
	--tp-button-background-color-active: hsl(0deg, 0%, 100%, 100%);
	--tp-button-background-color-focus: hsl(0deg, 0%, 95%, 100%);
	--tp-button-background-color-hover: hsl(0deg, 0%, 85%, 100%);
	--tp-button-foreground-color: hsl(0deg, 0%, 0%, 80%);
	--tp-container-background-color: hsl(0deg, 0%, 0%, 30%);
	--tp-container-background-color-active: hsl(0deg, 0%, 0%, 60%);
	--tp-container-background-color-focus: hsl(0deg, 0%, 0%, 50%);
	--tp-container-background-color-hover: hsl(0deg, 0%, 0%, 40%);
	--tp-container-foreground-color: hsl(0deg, 0%, 100%, 50%);
	--tp-groove-foreground-color: hsl(0deg, 0%, 0%, 20%);
	--tp-input-background-color: hsl(0deg, 0%, 0%, 30%);
	--tp-input-background-color-active: hsl(0deg, 0%, 0%, 60%);
	--tp-input-background-color-focus: hsl(0deg, 0%, 0%, 50%);
	--tp-input-background-color-hover: hsl(0deg, 0%, 0%, 40%);
	--tp-input-foreground-color: hsl(0deg, 0%, 100%, 50%);
	--tp-label-foreground-color: hsl(0deg, 0%, 100%, 50%);
	--tp-monitor-background-color: hsl(0deg, 0%, 0%, 30%);
	--tp-monitor-foreground-color: hsl(0deg, 0%, 100%, 30%);
}
