html {
	--tp-base-border-radius: 3px;
	--tp-base-background-color: hsl(230deg, 5%, 90%, 100%);
	--tp-base-shadow-color: hsl(0deg, 0%, 0%, 10%);
	--tp-button-background-color: hsl(230deg, 7%, 75%, 100%);
	--tp-button-background-color-active: hsl(230deg, 7%, 60%, 100%);
	--tp-button-background-color-focus: hsl(230deg, 7%, 65%, 100%);
	--tp-button-background-color-hover: hsl(230deg, 7%, 70%, 100%);
	--tp-button-foreground-color: hsl(230deg, 10%, 30%, 100%);
	--tp-container-background-color: hsl(230deg, 15%, 30%, 20%);
	--tp-container-background-color-active: hsl(230deg, 15%, 30%, 32%);
	--tp-container-background-color-focus: hsl(230deg, 15%, 30%, 28%);
	--tp-container-background-color-hover: hsl(230deg, 15%, 30%, 24%);
	--tp-container-foreground-color: hsl(230deg, 10%, 30%, 100%);
	--tp-groove-foreground-color: hsl(230deg, 15%, 30%, 10%);
	--tp-input-background-color: hsl(230deg, 15%, 30%, 10%);
	--tp-input-background-color-active: hsl(230deg, 15%, 30%, 22%);
	--tp-input-background-color-focus: hsl(230deg, 15%, 30%, 18%);
	--tp-input-background-color-hover: hsl(230deg, 15%, 30%, 14%);
	--tp-input-foreground-color: hsl(230deg, 10%, 30%, 100%);
	--tp-label-foreground-color: hsl(230deg, 10%, 30%, 70%);
	--tp-monitor-background-color: hsl(230deg, 15%, 30%, 10%);
	--tp-monitor-foreground-color: hsl(230deg, 10%, 30%, 50%);
}
