html {
 margin: 0;
 width: 100%;
 height: 100%;
}

body {
 font-family: sans-serif;
 font-weight: 100;
 font-size: 100%;
 line-height: 150%;
 margin: 0;
 width: 100%;
 height: 100%;
}

a {
 color: silver;
 transition: color 0.2s;
 text-decoration: none;
}

a:hover,
a:active {
 color: white;
}

.active {
 color: white;
}

canvas {
 cursor: -webkit-grab;
 cursor: -moz-grab;
 cursor: grab;
}

canvas:active {
 cursor: -webkit-grabbing;
 cursor: -moz-grabbing;
 cursor: grabbing;
}

p {
 background-color: rgba(0, 0, 0, 0.3);
 color: white;
 font-family: Helvetica, sans-serif;
 position: fixed;
 right: 100px;
 top: 10px;
 margin: 0;
 padding: 6px;
}

#stats {
 position: fixed;
 right: 5px;
 top: 5px;
}
