/* stylelint-disable -- generated styles */

/* Background */ .chroma { background-color: #FAFAFA; color: #272822; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { background-color: #1E0010; color: #960050; }
/* LineTableTD */ .chroma .lntd { border: 0; margin: 0; padding: 0; vertical-align: top; }
/* LineTable */ .chroma .lntable { border: 0; border-spacing: 0; display: block; margin: 0; overflow: auto; padding: 0; width: auto; }
/* LineHighlight */ .chroma .hl { background-color: #FFFFCC; display: block; width: 100%; }
/* LineNumbersTable */ .chroma .lnt { color: #7F7F7F; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { color: #7F7F7F; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #00A8C8; }
/* KeywordConstant */ .chroma .kc { color: #00A8C8; }
/* KeywordDeclaration */ .chroma .kd { color: #00A8C8; }
/* KeywordNamespace */ .chroma .kn { color: #F92672; }
/* KeywordPseudo */ .chroma .kp { color: #00A8C8; }
/* KeywordReserved */ .chroma .kr { color: #00A8C8; }
/* KeywordType */ .chroma .kt { color: #00A8C8; }
/* Name */ .chroma .n { color: #111111; }
/* NameAttribute */ .chroma .na { color: #75AF00; }
/* NameBuiltin */ .chroma .nb { color: #111111; }
/* NameBuiltinPseudo */ .chroma .bp { color: #111111; }
/* NameClass */ .chroma .nc { color: #75AF00; }
/* NameConstant */ .chroma .no { color: #00A8C8; }
/* NameDecorator */ .chroma .nd { color: #75AF00; }
/* NameEntity */ .chroma .ni { color: #111111; }
/* NameException */ .chroma .ne { color: #75AF00; }
/* NameFunction */ .chroma .nf { color: #75AF00; }
/* NameFunctionMagic */ .chroma .fm { color: #111111; }
/* NameLabel */ .chroma .nl { color: #111111; }
/* NameNamespace */ .chroma .nn { color: #111111; }
/* NameOther */ .chroma .nx { color: #75AF00; }
/* NameProperty */ .chroma .py { color: #111111; }
/* NameTag */ .chroma .nt { color: #F92672; }
/* NameVariable */ .chroma .nv { color: #111111; }
/* NameVariableClass */ .chroma .vc { color: #111111; }
/* NameVariableGlobal */ .chroma .vg { color: #111111; }
/* NameVariableInstance */ .chroma .vi { color: #111111; }
/* NameVariableMagic */ .chroma .vm { color: #111111; }
/* Literal */ .chroma .l { color: #AE81FF; }
/* LiteralDate */ .chroma .ld { color: #D88200; }
/* LiteralString */ .chroma .s { color: #D88200; }
/* LiteralStringAffix */ .chroma .sa { color: #D88200; }
/* LiteralStringBacktick */ .chroma .sb { color: #D88200; }
/* LiteralStringChar */ .chroma .sc { color: #D88200; }
/* LiteralStringDelimiter */ .chroma .dl { color: #D88200; }
/* LiteralStringDoc */ .chroma .sd { color: #D88200; }
/* LiteralStringDouble */ .chroma .s2 { color: #D88200; }
/* LiteralStringEscape */ .chroma .se { color: #8045FF; }
/* LiteralStringHeredoc */ .chroma .sh { color: #D88200; }
/* LiteralStringInterpol */ .chroma .si { color: #D88200; }
/* LiteralStringOther */ .chroma .sx { color: #D88200; }
/* LiteralStringRegex */ .chroma .sr { color: #D88200; }
/* LiteralStringSingle */ .chroma .s1 { color: #D88200; }
/* LiteralStringSymbol */ .chroma .ss { color: #D88200; }
/* LiteralNumber */ .chroma .m { color: #AE81FF; }
/* LiteralNumberBin */ .chroma .mb { color: #AE81FF; }
/* LiteralNumberFloat */ .chroma .mf { color: #AE81FF; }
/* LiteralNumberHex */ .chroma .mh { color: #AE81FF; }
/* LiteralNumberInteger */ .chroma .mi { color: #AE81FF; }
/* LiteralNumberIntegerLong */ .chroma .il { color: #AE81FF; }
/* LiteralNumberOct */ .chroma .mo { color: #AE81FF; }
/* Operator */ .chroma .o { color: #F92672; }
/* OperatorWord */ .chroma .ow { color: #F92672; }
/* Punctuation */ .chroma .p { color: #111111; }
/* Comment */ .chroma .c { color: #75715E; }
/* CommentHashbang */ .chroma .ch { color: #75715E; }
/* CommentMultiline */ .chroma .cm { color: #75715E; }
/* CommentSingle */ .chroma .c1 { color: #75715E; }
/* CommentSpecial */ .chroma .cs { color: #75715E; }
/* CommentPreproc */ .chroma .cp { color: #75715E; }
/* CommentPreprocFile */ .chroma .cpf { color: #75715E; }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold; }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
