@use "dimensions";
@use "durations";

.navigation {
	flex-grow: 1;
	overflow-y: auto;
	padding-bottom: 1.5rem;
	position: relative;
	a {
		align-items: center;
		color: var(--nav-anchor-color);
		display: flex;
		padding: 0.5rem dimensions.$nav-padding;
		position: relative;
		&:focus,
		&:hover {
			background-color: var(--nav-anchor-background-color-focus);
			color: var(--nav-anchor-color-focus);
		}
		&[target="_blank"] {
			&::after {
				background: no-repeat center/cover url("/img/svg/open_in_new_black_24dp.svg");
				background-attachment: scroll;
				background-origin: content-box;
				content: "";
				display: inline-block;
				height: 1rem;
				margin-left: 0.5rem;
				opacity: 0;
				transition: opacity durations.$short;
				width: 1rem;
			}
			&:focus,
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		&.active {
			> a {
				color: var(--nav-anchor-color-active);
				transition: background-color durations.$short;
				&::before {
					background-color: var(--nav-indicator-background-color);
					content: "";
					display: inline-block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 4px;
				}
			}
		}
		&::marker {
			content: none;
		}
	}
	.demos {
		margin-bottom: 1.5rem;
	}
}

// Dark Mode

.dark {
	.navigation {
		li {
			a[target="_blank"]::after {
				background-image: url("/img/svg/open_in_new_white_24dp.svg");
			}
		}
	}
}
