@use "dimensions";
@use "durations";

.navigation {
	flex-grow: 1;
	overflow-y: scroll;
	padding: 1.75rem 0;
	position: relative;
	scrollbar-width: thin;
	a {
		align-items: center;
		color: var(--nav-anchor-color);
		display: flex;
		padding: 0.5rem dimensions.$nav-padding 0.5rem dimensions.$nav-menu-item-padding;
		position: relative;
		&:focus,
		&:hover {
			background-color: var(--nav-anchor-background-color-focus);
			color: var(--nav-anchor-color-focus);
		}
		&[target="_blank"] {
			&::after {
				background: no-repeat center/cover url("/img/svg/open_in_new_black_24dp.svg");
				background-attachment: scroll;
				background-origin: content-box;
				content: "";
				display: inline-block;
				height: 1rem;
				margin-left: 0.5rem;
				opacity: 0.25;
				transition: opacity durations.$short;
				width: 1rem;
			}
			&:focus,
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
	h2, h3 {
		align-items: center;
		color: var(--sidebar-heading-color);
		display: flex;
		cursor: pointer;
		font-size: 100%;
		margin: 0;
		padding-left: dimensions.$nav-menu-item-padding;
		&::after {
			background-color: var(--sidebar-heading-color);
			mask-image: url("/img/svg/chevron_left_black_24dp.svg");
			mask-position: center;
			content: "";
			display: inline-block;
			height: 1.25rem;
			margin-left: 0.5rem;
			opacity: 0.3;
			transition: background-color durations.$long, opacity durations.$short, transform durations.$short;
			transform: rotate(180deg);
			width: 1rem;
		}
		&:focus,
		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
	h2 {
		padding: 0.5rem dimensions.$nav-padding;
	}
	h3 {
		font-size: 80%;
		padding: 0.6rem dimensions.$nav-padding;
	}
	li {
		padding: 0;
		&.active {
			> a {
				color: var(--nav-anchor-color-active);
				transition: background-color durations.$short;
				&::before {
					background-color: var(--nav-indicator-background-color);
					content: "";
					display: inline-block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 4px;
				}
			}
		}
		&::marker {
			content: none;
		}
	}
	ul {
		box-sizing: border-box;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		transition: height durations.$short;
	}
	.menu {
		position: relative;
		overflow-y: clip;
		li:last-child {
			padding-bottom: 1rem;
		}
		.menu {
			a {
				padding-left: dimensions.$nav-submenu-item-padding;
			}
			h2, h3 {
				padding-left: dimensions.$nav-submenu-header-padding;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		&:not(.expanded) {
			ul {
				height: 0;
			}
			&.active {
				> h2,
				> h3 {
					&::after {
						background-color: var(--nav-indicator-background-color);
						opacity: 1;
					}
				}
			}
		}
		&.expanded {
			> h2,
			> h3 {
				&::after {
					transform: rotate(270deg);
				}
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

// Dark Mode

.dark {
	.navigation {
		li {
			a[target="_blank"]::after {
				background-image: url("/img/svg/open_in_new_white_24dp.svg");
			}
		}
	}
}
