@use "durations";
@use "layers";

.sidebar {
	background-color: var(--sidebar-background-color);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	height: 100vh;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	transition: transform durations.$short;
	width: 320px;
	z-index: layers.$hud + 1;
	&.active {
		pointer-events: initial;
		transform: none;
	}
}

.sidebar-button-open,
.sidebar-button-close {
	background: no-repeat center transparent;
	background-image: var(--icon-chevron-left-white);
	border-radius: 25%;
	cursor: pointer;
	display: block;
	opacity: 0.8;
	position: absolute;
	transition: opacity durations.$short;
	width: 32px;
	z-index: layers.$hud;
	&:focus,
	&:hover {
		opacity: 1;
	}
	&.hidden {
		display: none;
	}
}

.sidebar-button-open {
	background-color: var(--viewport-button-background-color);
	background-image: var(--icon-menu-open);
	height: 32px;
	left: 0.5rem;
	top: 1rem;
	transform: rotate(180deg);
}

.sidebar-button-close {
	height: 100%;
	right: 0;
	top: 0;
}
