@use "durations";
@use "layers";

#viewport {
	background: var(--viewport-background-color);
	box-sizing: border-box;
	height: calc(100vh - 10rem);
	position: relative;
	.buttons {
		bottom: 4px;
		display: flex;
		left: 4px;
		line-height: 1;
		position: absolute;
		z-index: layers.$hud;
		&.hidden {
			display: none;
		}
	}
	.icon {
		background: no-repeat center/cover var(--viewport-button-background-color);
		background-origin: content-box;
		border-radius: 25%;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		height: 26px;
		margin-right: 4px;
		opacity: 0.8;
		transition: opacity durations.$short;
		width: 26px;
		&:focus,
		&:hover {
			opacity: 1;
		}
	}
	.fullscreen {
		background-image: var(--icon-fullscreen);
		&.active {
			background-image: var(--icon-fullscreen-exit);
		}
	}
	.code {
		background-image: var(--icon-code);
		padding: 2px;
	}
	.info {
		background-image: var(--icon-info);
		padding: 3px;
	}
	.lut {
		cursor: auto;
		left: 8px;
		max-height: 60vh;
		position: absolute;
		top: 8px;
		&.hidden {
			display: none;
		}
	}
	&+.content {
		border-top: 1px solid var(--viewport-separator-color);
	}
	&.loading {
		.buttons {
			display: none;
		}
	}
	&:not(.loading) {
		.progress {
			display: none;
		}
		&+.content {
			border-top-color: transparent;
		}
	}
}

.paused,
.warning,
.error {
	align-items: center;
	border-bottom: 1px solid var(--viewport-separator-color);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: layers.$hud;
	&.hidden {
		display: none;
	}
}

.paused {
	background-color: var(--paused-background-color);
	opacity: 0.5;
	&::before {
		background: no-repeat center/cover var(--icon-pause-circle);
		content: "";
		display: inline-block;
		height: 100px;
		opacity: 0.9;
		width: 100px;
	}
}

.warning,
.error {
	a {
		cursor: pointer;
	}
	p {
		max-width: 550px;
	}
	h4 {
		align-items: center;
		display: flex;
		margin: 0;
		&::before {
			background: no-repeat center/cover var(--icon-warning);
			content: "";
			display: inline-block;
			height: 24px;
			margin: 0 0.3rem 1px 0;
			opacity: 0.6;
			width: 24px;
		}
	}
}

.error {
	h4::before {
		background-image: var(--icon-error);
	}
}
