@use "durations";

main {
	border: 0;
	flex-grow: 1;
	height: 100vh;
	outline: none;
	overflow-y: scroll;
}

.content {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-bottom: 3rem;
	h1, h2, h3, h4, h5, h6 {
		a {
			opacity: 0;
			transition: color durations.$short, opacity durations.$short;
		}
		&:focus,
		&:hover {
			a {
				opacity: 1;
			}
		}
	}
	> div {
		box-sizing: border-box;
		max-width: calc(1024px + 2rem);
		padding: 0.5rem 1rem 2rem 1rem;
		width: 100%;
	}
	&:first-child {
		padding: 3rem 0;
	}
}
