@use "dimensions";
@use "durations";

.navigation {
	flex-grow: 1;
	overflow-y: auto;
	padding-bottom: 1.5rem;
	position: relative;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		a {
			color: var(--nav-anchor-color);
			display: block;
			padding: 0.5rem dimensions.$nav-padding;
			position: relative;
			&:focus,
			&:hover {
				color: var(--nav-anchor-color-focus);
				background-color: var(--nav-anchor-background-color-focus);
			}
		}
		&.active {
			 > a {
				color: var(--nav-anchor-color-active);
				transition: background-color durations.$short;
				&::before {
					background-color: var(--nav-indicator-background-color);
					content: "";
					display: inline-block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 4px;
				}
			}
		}
		&::marker {
			content: none;
		}
	}
	.demos {
		margin-bottom: 1.5rem;
	}
}
