/**
 * Microsoft Windows Metro - Color Palette
 * 12/24/2018
 */

// Row 1
$yellow_gold: #FFB900;
$gold: #FF8C00;
$orange_bright: #F7630C;
$orange_dark: #CA5010;
$rust: #DA3B01;
$pale_rust: #EF6950;
$brick_red: #D13438;
$mod_red: #FF4343;

// Row 2
$pale_red: #E74856;
$red: #E81123;
$rose_bright: #EA005E;
$rose: #C30052;
$plum_light: #E3008C;
$plum: #BF0077;
$orchid_light: #C239B3;
$orchid: #9A0089;

// Row 3
$default_blue: #0078D7;
$navy_blue: #0063B1;
$purple_shadow: #8E8CD8;
$purple_shadow_dark: #6B69D6;
$iris_pastel: #8764B8;
$iris_spring: #744DA9;
$violet_red_light: #B146C2;
$violet_red: #881798;

// Row 4
$cool_blue_light: #0099BC;
$cool_blue: #2D7D9A;
$seafoam: #00B7C3;
$seafoam_teal: #038387;
$mint_light: #00B294;
$mint_dark: #018574;
$turf_green: #00CC6A;
$sport_green: #10893E;

// Row 5
$grey: #7A7574;
$grey_brown: #5D5A58;
$steel_blue: #68768A;
$metal_blue: #515C6B;
$pale_moss: #567C73;
$moss: #486860;
$meadow_green: #498205;
$green: #107C10;

// Row 6
$overcast: #767676;
$storm: #4C4A48;
$blue_grey: #69797E;
$grey_dark: #4A5459;
$liddy_green: #647C64;
$sage: #525E54;
$camouflage_desert: #847545;
$camouflage: #7E735F;
