@forward "colors-material";
@forward "colors-metro";

$bittersweet: rgb(254, 95, 95);
$blue-chalk: rgb(241, 219, 255);
$clam-shell: rgb(212, 182, 182);
$space: rgb(16, 16, 16);
$coal: rgb(20, 20, 20);
$blind: rgb(24, 24, 24);
$copper-rose: rgb(142, 100, 100);
$flamingo: rgb(234, 83, 31);
$mine-shaft: rgb(32, 32, 32);
$periwinkle: rgb(204, 204, 255);
$platinum: rgb(229, 228, 226);
$shiny: rgb(93, 225, 249);
$soft-amber: rgb(209, 198, 180);
$tana: rgb(217, 220, 193);
$tamarind: rgb(43, 22, 18);
$terracotta: rgb(224, 128, 86);
$tawny-port: rgb(118, 42, 90);
$turkish-rose: rgb(175, 122, 125);
$vanilla: rgb(209, 190, 168);
$whimsical: rgb(255, 218, 116);
