main.attribution {
	h3 {
		margin-bottom: 1rem;
	}
	h5 {
		margin-bottom: 0;
		margin-left: 1rem;
		margin-top: 0.3rem;
		& + p {
			margin-bottom: 1.3rem;
			margin-left: 1rem;
			margin-top: 0;
		}
	}
	p {
		& + h2,
		& + h3 {
			margin-top: 3.5rem;
		}
	}
}
