main.plugins-tools {
	h2 {
		align-items: center;
		display: flex;
		margin-bottom: 0;
		&::before {
			background-color: var(--foreground-color);
			content: "";
			display: inline-block;
			height: 24px;
			margin-right: 0.5rem;
			mask-image: var(--icon-extension);
			mask-position: center;
			width: 24px;
		}
	}
	p + h2 {
		margin-top: 3rem;
	}
	p {
		margin: 0.25rem 0;
	}
}
